{% extends "base.html" %}
{% load static %}


{% block title %}
    非遗文化旅游
{% endblock title %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/events_detail/events_detail.css' %}">
{% endblock css %}



{% block main %}
    <div class="main_bg">
        <!-- 在这个div里写页面的内容 -->
        <!-- 标题 -->
        <div class="title">
            <div class="subtitle">
                非遗文化旅游
            </div>
        </div>
        <!-- 内容 -->
        <div class="cont">
            <!-- 第一个 -->
            <div class="subcont">
                <div class="tit">
                    一、霸州胜芳花灯
                </div>
                <div class="grap">
                    所属项目名称：胜芳灯会
                </div>
                <div class="grap">
                    所属项目级别：国家级
                </div>
                <div class="grap">
                    项目属地：霸州市
                </div>
                <div class="grap txt">
                    胜芳花灯起始于明朝中叶，繁盛于清代，鼎盛于清末民初，是在胜芳独特的生产、生活、民俗及地域环境中独立诞生、发展和传承下来的，有自己独特的工艺流程和作品的文化蕴含。胜芳花灯具有取材天然、题材自然、工艺卓然、韵味超然的特点，无论题材、用材还是意蕴，无不带有北方水乡风情。传统胜芳花灯题材多与水生动植物有关，如鸭子灯、鱼灯、荷花灯等。以花灯为基础，胜芳已经举办了34届传统文化节目——胜芳灯会，胜芳人有着共同的花灯情结，传统逛灯习俗是人手一灯，万人万盏灯，人走灯移，真正是纯粹的“流光溢彩”，诚挚欢迎广大游客前来赏灯。
                </div>
            </div>
            <!-- 第二个 -->
            <div  class="subcont">
                <div class="tit">
                    二、大厂祥瑞中华福禄尊
                </div>
                <div class="grap">
                    所属项目名称：景泰蓝制作技艺
                </div>
                <div class="grap">
                    所属项目级别：国家级
                </div>
                <div class="grap">
                    项目属地：大厂回族自治县
                </div>
                <div class="grap txt">
                    “祥瑞中华福禄尊”产品材质为紫铜，高60cm、最大直径30cm。整体造型新颖端庄、秀丽典雅、具有明清风韵、又有现代气息，瓶盖錾刻葵花托，葵花向阳，实现梦想，托着红色玛瑙球，寓意红日高照、鸿运当头，整个瓶体以葫芦为造型，寓意福禄，表面饰以彩色珐琅釉料，整体庄重、典雅、富贵，瓶腹饰十个龙凤开光图，龙凤缠绕，尽显皇室风范，龙凤呈祥。本产品在2014年二十九届中国北京国际礼品工艺品展览会中荣获“工艺美术金奖”，由国家级非物质文化遗产景泰蓝技艺保护单位京东工艺品有限公司打造推出，欢迎广大游客前来参观选购。
                </div>
            </div>
            <!-- 第三个 -->
            <div  class="subcont">
                <div class="tit">
                    三河五美酒
                </div>
                <div class="grap">
                    所属项目名称：五美酒土储技艺
                </div>
                <div class="grap">
                    所属项目级别：市级
                </div>
                <div class="grap">
                    项目属地：三河市
                </div>
                <div class="grap txt">
                    “三河五美酒，百年泃阳楼”。三河五美酒因敬英雄而得名，为尊孝善而传承，起源于清乾隆年酒尉李万金所创清宫廷贡酒技艺，有诗句云“五美龙娄南山城，九水号响北运河，春醪五陵饯千官，秋色三河欣百民”。三河五美酒遵南酿北储、五五之规；聚五宝之美，五粮三味。三河五美酒共计五款，各有用途：【礼英雄和字酒】53%vol，礼敬英雄，款待德高望重之人用酒，酱香型白酒，特制土陶坛/2.5L；【泃阳楼和字酒】53%vol，款待德高望重之人用酒，特制土陶坛/2.5L；【泃阳楼信字酒】52%vol，孝敬长辈，礼敬上宾用酒，浓香型白酒，特制土陶坛/2.5L；【泃阳楼乐字酒】58%vol，待朋赠友，泡药用酒，特制土陶坛/2.5L；【泃阳楼乐字酒】52%vol，待朋赠友用酒，特制土陶坛/2.5L，欢迎广大游客前来选购。
                </div>
            </div>
            <!-- 第4个 -->
            <div  class="subcont">
                <div class="tit">
                    四、香河大张肉饼
                </div>
                <div class="grap">
                    香河肉饼
                </div>
                <div class="grap">
                    所属项目级别：市级
                </div>
                <div class="grap">
                    项目属地：香河县
                </div>
                <div class="grap txt">
                    香河肉饼是香河县独具特色的地方美食,已有600多年的历史，现已成为香河人引以为傲的珍贵文化遗产。据传在明朝初期，明成祖朱棣迁都北京，大批回族人迁入京东地区，把做肉饼的手艺经验带到香河，后来经过上百年的研习操作，创造出风味独特、别具一格的香河肉饼。香河肉饼具有颜色焦黄、外酥里嫩、油而不腻、润而不柴等特色。香河肉饼张大皮薄，肉馅均匀且有弹性，口感外脆里鲜，食后久有余香，欢迎广大游客前来选购。
                </div>
            </div>
            <!-- 第5个 -->
            <div  class="subcont">
                <div class="tit">
                    五、广阳和香
                </div>
                <div class="grap">
                    所属项目名称：传统和香技艺
                </div>
                <div class="grap">
                    所属项目级别：市级
                </div>
                <div class="grap">
                    项目属地：广阳区
                </div>
                <div class="grap txt">
                    和香是我国传统制香工艺的核心，也是我国和香传统中用纯天然香药等原料，按君、臣、佐、辅配伍而成的香品的统称。和香不是简单的香药添加，更重要的是人与香的相和，香与天时地利的相和，香药的和香过程有系统的规律、严格的法度，必须根据香药的五行属性，使香药药性相互生发、倒顺制逆。历史上许多名香，对和香的时间还有着严格的要求，也就是古人讲的择时和香。吴琨所制作的和香产品，如格式香牌、香珠、香粉等，远销泰国、马来西亚、新加坡、法国等国家，深受国际社会喜爱，并于2012年在廊坊市广阳区创建“停云处”慢生活馆，以香为主，传播香道。2021年，还在抖音上开设了名为“停云处香文化”的账号，通过视频和直播等方式，宣传中国香文化，欢迎广大游客前来了解和选购。
                </div>
            </div>
            <!-- 第6 个 -->
            <div  class="subcont">
                <div class="tit">
                    六、固安饽饽浅子
                </div>
                <div class="grap">
                    所属项目名称：固安柳编
                </div>
                <div class="grap">
                    所属项目级别：国家级
                </div>
                <div class="grap">
                    项目属地：固安县
                </div>
                <div class="grap txt">
                    饽饽浅子是固安柳编的代表作品之一，一般家庭使用规格为29cm*9cm，是一件集实用和美观于一体的大众生活用品。该产品通过手艺人的不懈努力和反复创新，大胆采用五压五超的编织方法，这种编织方法在材料上要求非常精细，对编织手艺有着近乎苛刻的要求，在编制过程中只要有一根柳条出现断裂，之前所有的编织都将会前功尽弃，需要重新来过，可见作品的完成难度之大，该产品享誉全国，年销售量达到1万件左右，欢迎广大游客前来了解和选购。
                </div>
            </div>
            <!-- 第7 个 -->
            <div  class="subcont">
                <div class="tit">
                    七、永清燕南春玉兔呈祥酒
                </div>
                <div class="grap">
                    所属项目名称：燕南春酒传统酿造技艺
                </div>
                <div class="grap">
                    所属项目级别：省级
                </div>
                <div class="grap">
                    项目属地：永清县
                </div>
                <div class="grap txt">
                    燕南春兔年生肖纪念酒“玉兔呈祥”生肖艺术瓷雕作品用美术的设计手法，将兔子造型打造的简约大方、充满灵气，釉面采用独特的影青釉装饰，既体现了玉的玲珑质感，又不失瓷雕的装饰美感。该作品雕工精美，栩栩如生，将兔子的悠然之神、祥和之气抒发到了极致，体现了兔子的机灵乖巧、温顺可爱的特性，同时也阐释了“玉兔呈祥，团团圆圆，瓷雕贺岁，平平安安”的美好主题。让我们喝上一杯玉兔呈祥生肖纪念酒，举杯畅饮，一醉方休！欢迎广大游客前来了解和选购。
                </div>
            </div>
            <!-- 第8 个 -->
            <div  class="subcont">
                <div class="tit">
                    八、安次迎春·一瓶酱酒
                </div>
                <div class="grap">
                    所属项目名称：迎春酒酿制技艺
                </div>
                <div class="grap">
                    所属项目级别：省级
                </div>
                <div class="grap">
                    项目属地：安次区
                </div>
                <div class="grap txt">
                    迎春酒酿造史源于清光绪年间，当时，安次、武清一带小烧锅酿酒盛行，至民国二年和民国七年，山西资本家史正维及武清葛姓同几个股东先后迁至廊坊（安次县）开办烧锅酿酒，锅名叫“聚盛源”、“庆生源”，至民国九年，身怀绝技的侯氏家族侯玉刚也将烧锅从家乡杨税务村迁至廊坊，锅名叫“天顺源”。三家烧锅技艺精良、各有千秋，其规模最大、声誉最好的当属“天顺源”的侯玉刚，他以当地上等高粱为原料，使用廊坊四眼井水，精工巧酿，曲好酒香、独占鳌头、名声远扬。“迎春·一瓶酱酒”则是当代酿酒专家在传统酿造工艺基础上创新、设计、酿制而成的现代酱香型优质白酒，工艺先进，用料考究，酒色微黄，清澈透明，香气协调，醇厚柔和，酒度低而不淡，酒气香而不艳，欢迎广大游客前来了解和选购。
                </div>
            </div>
            <!-- 第九个 -->
            <div  class="subcont">
                <div class="tit">
                    九、文安李记香油
                </div>
                <div class="grap">
                    所属项目名称：传统香油制作技艺
                </div>
                <div class="grap">
                    所属项目级别：市级
                </div>
                <div class="grap">
                    项目属地：文安县
                </div>
                <div class="grap txt">
                    李记香油以传统石磨工艺制作而成，为了凸显传承理念，使用了纸质包装礼盒，规格为38*32*12厘米，并在封面印有制作工艺流程图，让顾客从感观上就能了解产品制作过程。李记香油多次参加全国各地的展销会，曾荣获“河北省电商大赛省级决赛三等奖”、“河北省燕赵老字号”、“廊坊电商大赛优秀奖”等荣誉。李记香油经过多年的参展、宣传以及创新，更多的人了解到了这一优秀非遗产品，通过电商平台和实体推广，产品已销往全国各地，诚挚欢迎广大游客前来选购。
                </div>
            </div>
            <!-- 第十个 -->
            <div  class="subcont">
                <div class="tit">
                    十、大城错金银工艺品
                </div>
                <div class="grap">
                    所属项目名称：错金银
                </div>
                <div class="grap">
                    所属项目级别：省级
                </div>
                <div class="grap">
                    项目属地：大城县
                </div>
                <div class="grap txt">
                    金银工艺源于春秋时期，其目的是用两种金属不同光泽显现花纹美化器物。错金银工艺在青铜饰件上的使用，始于春秋中期，盛行于战国，西汉以后逐渐走向衰落。它的一般做法为，先在青铜器表面预先铸出或錾刻出图案、铭文所需的凹槽，然后嵌入金银丝、片，锤打牢固，再用蜡石将其打磨光滑，达到突出图案和铭文的装饰效果。主要是镶嵌法、包贴法和泥金法。镶嵌法具体分四个步骤，第一步是在范铸阶段预留凹纹；第二步是对凹纹再进行精细的剔刻修正；第三步是将金银丝镶嵌到凹槽；第四步是打磨。包贴法顾名思义就是在钩身将金银箔粘贴上去；泥金法是以金银汞的“混合剂”为原料进行表面处理，然后烘烤蒸发后得到去汞存金的效果，也就是我们常说的“鎏金”，是一种更兴盛于汉代的工艺。产品创作灵感来自生活当中的方方面面，例如春天的万物复苏柳绿燕回、夏天的繁花似锦虫鸣鸟语、秋天的谷物飘香硕果累累、冬天的白雪覆盖竹叶树木等，主要用于室内装饰、文人用品以及茶具等，通过以代加工和私人定制两种形式销售并通过多媒体宣传推广，欢迎广大游客前来了解和选购。
                </div>
            </div>
        </div>
    </div>

    </div>
              

{% endblock main %}}



{% block js %}

{% endblock js %}

