{% extends "base.html" %}
{% load static %}


{% block title %}
    非遗集市
{% endblock title %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/events_detail/events_detail.css' %}">
{% endblock css %}



{% block main %}
<div class="main_bg">
    <!-- 在这个div里写页面的内容 -->
    <!-- 标题 -->
    <div class="title">
        <div class="subtitle">
            非遗文化旅游
        </div>
    </div>
    <!-- 内容 -->
    <div class="cont">
        <!-- 第一个 -->
        <div class="subcont">
            <div class="tit">
                一、霸州胜芳花灯
            </div>
            <div class="grap">
                所属项目名称：胜芳灯会
            </div>
            <div class="grap">
                所属项目级别：国家级
            </div>
            <div class="grap">
                项目属地：霸州市
            </div>
            <div class="grap txt">
                胜芳花灯起始于明朝中叶，繁盛于清代，鼎盛于清末民初，是在胜芳独特的生产、生活、民俗及地域环境中独立诞生、发展和传承下来的，有自己独特的工艺流程和作品的文化蕴含。胜芳花灯具有取材天然、题材自然、工艺卓然、韵味超然的特点，无论题材、用材还是意蕴，无不带有北方水乡风情。传统胜芳花灯题材多与水生动植物有关，如鸭子灯、鱼灯、荷花灯等。以花灯为基础，胜芳已经举办了34届传统文化节目——胜芳灯会，胜芳人有着共同的花灯情结，传统逛灯习俗是人手一灯，万人万盏灯，人走灯移，真正是纯粹的“流光溢彩”，诚挚欢迎广大游客前来赏灯。
            </div>
        </div>
        <!-- 第二个 -->

        <!-- 第三个 -->

        <!-- 第4个 -->

        <!-- 第5个 -->

        <!-- 第6 个 -->

        <!-- 第7 个 -->

        <!-- 第8 个 -->

        <!-- 第九个 -->

        <!-- 第十个 -->

    </div>
   

</div>
          


{% endblock main %}}



{% block js %}

{% endblock js %}

