{% extends "base.html" %}
{% load static %}


{% block title %}
    我在石家庄过大年
{% endblock title %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/events_detail/events_detail.css' %}">
{% endblock css %}



{% block main %}
    <div class="main_bg">
        <!-- 在这个div里写页面的内容 -->
        <!-- 标题 -->
        <div class="title">
            <div class="subtitle">
                2024年“我在石家庄过大年”
            </div>
        </div>
        <!-- 内容 -->
        <div class="cont">
            <div class="grap txt">
                春节钟声即将响，福气满满喜洋洋。石家庄市文化广电和旅游局特别策划推出2024年“我在石家庄过大年”活动，以丰富的旅游资源、厚重的文化底蕴为依托，开展艺术展演、古城灯会等活动，让广大群众感受石家庄浓浓的年味儿，满足人民群众冬季和春节期间精神文化生活需求，进一步彰显城市的激情与活力。
            </div>
            <div class="img">
                <img src="{% static 'img/events_detail/event3.png'  %}">
            </div>
            <div class="grap txt">
                全市古城（古镇、古村落）组织举办以非物质文化遗产展示、展演为主要内容的系列活动，吸引周边群众及外地游客感受古城韵味，重温传统年味。
            </div>
            <!-- 第一个 -->
            <div class="subcont">
                <div class="tit">
                    1.全国古城过大年正定会场暨“正定古城灯会”启动仪式
                </div>
                <div class="grap">
                    活动时间：2024年2月2日（腊月二十三）
                </div>
                <div class="grap">
                    活动地点：正定南城门、阳和楼、荣国府
                </div>
                <div class="grap">
                    活动内容：本次活动作为全国古城过大年的分会场，同时结合正定古城灯会开幕，将燃起2024年过大年宣传新爆点。
                </div>
            </div>
            <!-- 第二个 -->
            <div class="subcont">
                <div class="tit">
                    2.“古今融合 传承文脉”——古城cosplay秀
                </div>
                <div class="grap">
                    活动时间：2024年2月14日（正月初五）
                </div>
                <div class="grap">
                    活动地点：正定南城门、广惠寺、大佛寺、荣国府、南关古镇、阳和楼、东门、正定博物馆、旺泉古街等
                </div>
                <div class="grap">
                    活动内容：动漫cosplay秀，模特身着cosplay服饰在古城景点内与游客进行互动；组织coser在景点进行快闪舞蹈。拍摄新媒体平台短视频，每个景点拍摄一段视频，发起抖音话题挑战，每日分别出一条不同类型抖音短视频。
                </div>
            </div>
            <!-- 第3个 -->
            <div class="subcont">
                <div class="tit">
                    “品牌争辉 悦动古城”——正定县第十五届民间艺术节
                </div>
                <div class="grap">
                    活动时间：2024年2月24日（正月十五）
                </div>
                <div class="grap">
                    活动地点：正定广惠路
                </div>
                <div class="grap">
                    活动内容：组织优秀表演类节目、各乡镇文艺表演类节目、以及省内外优秀非遗项目表演，展示非遗风采。
                </div>
            </div>

            <!-- 第4个 -->
            <div class="subcont">
                <div class="tit">
                    4.“2024年龙抬头——全国鼓王争霸赛”
                </div>
                <div class="grap">
                    活动时间：2024年3月9日（正月二十九）
                </div>
                <div class="grap">
                    活动地点：正定县南城门瓮城内
                </div>
                <div class="grap">
                    活动内容：传承弘扬民族传统鼓乐鼓舞文化，推动中国鼓乐艺术的鉴赏交流、传承发展。
                </div>
            </div>
        </div>
       

    </div>
              

{% endblock main %}}



{% block js %}

{% endblock js %}

