{% extends "base.html" %}
{% load static %}


{% block title %}
    冬游河北过大年
{% endblock title %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/events_detail/events_detail.css' %}">
{% endblock css %}



{% block main %}
    <div class="main_bg">
        <!-- 在这个div里写页面的内容 -->
        <!-- 标题 -->
        <div class="title">
            <div class="subtitle">
                2024冬游河北过大年主题活动
            </div>
        </div>
        <!-- 内容 -->
        <div class="cont">
            <!-- 第一个 -->
            <div class="subcont">
                <div class="tit">
                    一是“冰雪温泉过大年”系列活动
                </div>
                <div class="grap txt">
                    1月11日（腊月初一）将在承德市隆化县举办2024“冬游河北过大年”启动仪式暨主题推广活动，发布全省春节期间文旅惠民活动，推介冰雪温泉等冬季重点旅游产品、目的地及精品旅游线路。同时，将联动全省滑雪场、温泉等休闲旅游景区、景点，以冰雪运动、趣味活动、温泉养生为体验内容，融合民俗展演、非遗展示等项目，为广大游客奉上运动+康养的冬游大餐。
                </div>
            </div>
            <!-- 第二个 -->
            <div class="subcont">
                <div class="tit">
                    二是“戏曲过大年”系列活动
                </div>
                <div class="grap txt">
                    1月17日（腊月初七）在石家庄市举办2024年河北省戏曲春晚。同时，将联动全省剧院、剧场等艺术演出场馆和单位，开展戏曲进乡村、地方濒危剧种演出、戏曲名团名剧演出、戏曲春晚、“遇见艺术”戏曲快闪等演出活动近8000场，以戏贺岁，以戏迎新，为百姓欢度春节奉上戏曲大餐，持续叫响河北“北方戏窝子”的文化品牌。
                </div>
            </div>
            <!-- 第三个 -->
            <div class="subcont">
                <div class="tit">
                    三是“老字号里过大年”系列活动
                </div>
                <div class="grap txt">
                    1月18日（腊月初八）和2月2日（腊月二十三）分别在唐山宴和保定宴举办全省“美食过大年”活动，开展沉浸式非遗美食和演艺技艺体验。联动全省餐饮老字号和各地特色餐厅、饭店，推出河北年夜饭菜单，让百姓举家欢聚的时候，能够享受更多河北舌尖美味。
                </div>
            </div>
            <!-- 第4个 -->
            <div class="subcont">
                <div class="tit">
                    四是“逛集过大年”系列活动
                </div>
                <div class="grap txt">
                    1月18日（腊月初八）在石家庄市湾里庙步行街、清河羊绒制品市场举办全省“逛集过大年”活动。联动全省国家和省级旅游休闲街区、夜间文化和旅游消费聚集区，推出河北年货礼单，丰富百姓年节生活，助力文旅消费。
                </div>
            </div>
            <!-- 图片 -->
            <div class="img">
                <img src="{% static 'img/events_detail/event2.png'  %}">
            </div>
            <!-- 第5个 -->
            <div class="subcont">
                <div class="tit">
                    五是“村晚过大年”系列活动
                </div>
                <div class="grap txt">
                    1月18日（腊月初八）、22日（腊月十二），2月15日（正月初六）、25日（正月十六），3月11日（二月初二）分别在石家庄市平山县、张家口市张北县、保定市阜平县、沧州市黄骅市和雄安新区举办全省“四季村晚”活动。同时联动全省乡村，以村晚为主要形式，呈现原汁原味的乡村故事、演绎淳朴纯真乡村风情，丰富乡村群众精神文化生活。
                </div>
            </div>
            <!-- 第6 个 -->
            <div class="subcont">
                <div class="tit">
                    六是“古城过大年”系列活动
                </div>
                <div class="grap txt">
                    2月2日（腊月二十三）将在石家庄市正定古城启动全国“古城过大年”正定活动。3月11日（二月初二）在正定古城举办“龙抬头——全国鼓王争霸赛”。同时，我们将联动滦州古城、万全古城、蔚州古城、广府古城、定州古城等全省多座古城开展非物质文化遗产展示、展演活动160余场，吸引周边群众及外地游客到河北感受古城韵味，感受传统年味。
                </div>
            </div>
            <!-- 第7 个 -->
            <div class="subcont">
                <div class="tit">
                    七是“民俗过大年”系列活动
                </div>
                <div class="grap txt">
                    2月22日（正月十三）、25日（正月十六）分别在秦皇岛市昌黎县和石家庄市井陉县举办全省“民俗过大年”活动。联动全省“中国民间文化艺术之乡”“河北省民间文化艺术之乡”等，用庙会、社火、舞龙、舞狮、秧歌等老百姓最熟悉、最喜欢的乡土特色文化艺术形式，广泛开展形式多样的文化惠民活动。
                </div>
            </div>
            <!-- 第8 个 -->
            <div class="subcont">
                <div class="tit">
                    八是“博物馆里过大年”系列活动
                </div>
                <div class="grap txt">
                    今天上午，刚刚在河北博物院隆重开幕了“中国历代绘画大系”河北特展。应该说，在这个大展里，国宝重光、皇皇大观，穿越千年的丹青散落在全球的瑰宝，都将在这里得到体现，大家都可以在博物院里去一饱眼福，这个展览从今天开始将一直持续到五月份。同时，我们在古城保定，您也可以逛逛我们刚刚开放的中国古动物馆，也是保定自然博物馆。在7万多平方米的崭新展馆里，突出的是“龙年·龙馆·龙展”主题，让“龙年看龙到保定”成为春节旅游新热点。同时将联动省、市、县三级博物馆，推出一系列紧扣节日主题的专题展览、短期展览以及民风民俗体验活动等，让您这个春节到博物馆里过个快乐的文化年。
                </div>
            </div>
            <!-- 第九个 -->
            <div class="subcont">
                <div class="tit">
                    九是“图书馆里过大年”系列活动
                </div>
                <div class="grap txt">
                    2月4日（腊月二十五）在省图书馆举办全省“图书馆里过大年”活动。联动省、市、县三级公共图书馆、美术馆和全省书城、书店等，开展经典诵读、好书分享、书画展览等，激发全民阅读热情，展现“书香河北”良好风貌。
                </div>
            </div>
            <!-- 第十个 -->
            <div class="subcont">
                <div class="tit">
                    十是“景区里过大年”系列活动
                </div>
                <div class="grap txt">
                    2月2日（腊月二十三）在保定市易县太行水镇举办全省“景区过大年”活动。3月11日（二月初二）在秦皇岛市山海关古城举办“龙抬头——全国舞龙大会”。双节期间，全省300家以上旅游景区、度假区对外开放并推出节庆，活跃冬季旅游市场，让各地游客在旅游过年中收获更多欢乐。
                </div>
            </div>
        </div>
    </div>
       

    </div>
              

{% endblock main %}}



{% block js %}

{% endblock js %}

