{% extends "base.html" %}
{% load static %}


{% block title %}
    河北梆子-刘俊英
{% endblock title %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/craftsman_detail/DongZhuangZhuang.css' %}">
{% endblock css %}



{% block main %}
    <div class="main_bg">
       <!-- 在这个div里写页面的内容 -->
      <div> 
        <div class="img fl">
            <!-- ???? -->
        <img src="{% static 'img/craftsman_detail/HebeiClapperOpera/Hebei_liu_1.jpg' %}">
        </div>
        <div class="intro" float="right" width="80%">
            <h1>人物生平:</h1>
        <p>
         八十岁高龄的刘俊英是现今天津河北梆子界资历最老的艺术家，她幼年学戏，被梆子名家银达子收为义女，后又师从著名旦角演员金宝环，继承并发扬了河北梆子“金派”花旦的表演艺术。
        </p>
            <h2>求学经历：</h2>
         <p>
         上世纪50年代，领衔主演的《荀灌娘》闻名全国。刘俊英多次受到毛泽东、周恩来、邓小平等老一辈革命家接见。
         1959年毛主席来天津视察时，点名要看刘俊英演的《荀灌娘》，那是一出文武戏。1959年8月，北戴河庐山会议召开，因为首长们很爱看小百花的演出，便点名让小百花剧团去了北戴河。那次一共演了三出戏，《喜荣归》、《断桥》、《观阵》。因为周总理很喜欢《喜荣归》这出戏，还特地点名让刘俊英演了两遍。
        </p>
            <h3>代表作品:</h3>
        </div>
      </div>




    </div>


              

{% endblock main %}}





{% block js %}

{% endblock js %}

