{% extends "base.html" %}
{% load static %}


{% block title %}
    河北梆子-刘俊英
{% endblock title %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/craftsman_detail/LiuJunYing.css' %}">
{% endblock css %}



{% block main %}
<style>h1{text-align:center;}</style>

    <div class="main_bg">
       <!-- 在这个div里写页面的内容 -->
       <h1>河北梆子--刘俊英</h1>
        <table border="0">
            <tr>
            <td rowspan="4">
            <div class="img">
        <img src="{% static 'img/craftsman_detail/HebeiClapperOpera/Hebei_liu_1.jpg' %}" height="1000" width="500">
        </div>
                </td>
            <td>
          <ul>
              <h2>人物生平：</h2>
              <p style="text-indent:2em;">
                  刘俊英，女，1939年4日出生，汉族，天津人。第二批国家级非物质文化遗产项目河北梆子代表性传承人，国家一级演员。</p>
              <h2>求学经历：</h2>
              <p style="text-indent:2em;">
                  童年的刘俊英就住在南市庆云戏院的对面，这家戏院以专门上演梆子戏出名。每天只要戏院一开戏，刘俊英站在窗口就能清楚地听到园子里传出的唱段，河北梆子那韵味十足的唱腔在她幼小的心灵中留下极其深刻的印象。</p>
              <h4>背着家里偷偷报名学戏</h4>
              <p style="text-indent:2em;">
                  1952年，银达子和韩俊卿在天津市文化部门的支持下组建了天津实验秦腔剧团（天津河北梆子剧院的前身），并带队参加了在北京举办的全国戏曲观摩演出大会，为天津戏曲代表团赢得了多个荣誉奖项，在全国戏曲界引起了不小的轰动。虽然在全国大赛中获奖，但刚刚开始复兴的天津河北梆子还是显露出整体年龄老化、人员青黄不接的弱点。银达子、韩俊卿等老艺术家立足长远，决定招收一批年轻学员，为河北梆子事业培养新生力量。</p>
              <p style="text-indent:2em;">
                  时年12岁的刘俊英偶然听到河北梆子剧团招生的消息，就背着家里偷偷跑到河北梆子大舞台去报名学戏。填报名志愿时需要家长同意，韩俊卿等几位老师就一起到刘俊英家给她的妈妈做工作。看到女儿学戏的态度坚决，又听老师们夸她是学戏的好材料，刘俊英的妈妈这才同意。刘俊英是新中国成立后最早进入天津河北梆子剧团的小学员，学起戏来执着认真，悟性又好，很受剧团里演员们的喜爱，被银达子认作义女带在身边学戏。</p>
              <p style="text-indent:2em;">
                  由于剧团里演员们的演出任务很重，在没有正式指派老师的情况下，刘俊英就在剧团演出过程中在台下边看边学，这使得她有机会近距离观摩学习银达子、韩俊卿、金宝环等老艺术家们的舞台表演，开阔了眼界，为她今后的戏剧艺术之路打下良好的基础。</p>
              <h4>跟随义父银达子学戏打基础</h4>
              <p style="text-indent:2em;">
                  刘俊英学戏的启蒙老师是义父银达子，为方便学戏，她与义父一家吃住都在一起，不论是艺术上还是生活上都获益良多。当时银达子是天津市人民代表，还是梆子剧团主管业务的副团长，每天工作特别繁忙。为了给刚学戏的小俊英打好基础，银达子特意为她挑选了一出闺门旦行当的开蒙戏《捡柴》，在工作和演出之余，挤出时间亲自教授，银达子还利用与小俊英在一起吃饭的时间，给她说戏。</p>
              <h4>新中国第一代河北梆子接班人</h4>
              <p style="text-indent:2em;">
                  1953年，在银达子的倡议下，天津市成立了第一家国营河北梆子剧团，同时决定在剧团下属组建河北梆子少年训练队，选拔戏曲苗子为河北梆子补充新鲜血液。刘俊英随同全市几百名考生一起参加了这次选拔考试，银达子、韩俊卿、金宝环、杜义亭等几位前辈亲自担当主考。经过几轮严格筛选，刘俊英最终得偿所愿，以正式学员的身份进入河北梆子少年训练队，与其他五名学员一起成为新中国第一代河北梆子接班人。</p>
              <h2>代表作品:</h2>
              <p>《荀灌娘》</p>
              <p>《喜荣归》</p>
              <p>《断桥》</p>
              <p>《观阵》</p>


          </ul>
            </td>


        </table>


    </div>
              

{% endblock main %}}



{% block js %}

{% endblock js %}

