{% extends "base.html" %}
{% load static %}


{% block title %}
    河北梆子-刘俊英
{% endblock title %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/craftsman_detail/LiuJunYing.css' %}">
{% endblock css %}



{% block main %}
<style>h1{text-align:center;}</style>

    <div class="main_bg">
       <!-- 在这个div里写页面的内容 -->
       <h1>河北梆子--刘俊英</h1>
        <table border="0">
            <tr>
            <td rowspan="4">
            <div class="img">
        <img src="{% static 'img/craftsman_detail/LaotingClayFigure/项目传承人_赵玉明.png' %}" height="1000" width="500">
        </div>
                </td>
            <td>
          <ul>
              <h2>人物生平：</h2>
              <p style="text-indent:2em;">
                 赵玉明，1955年生，河北省唐山市乐亭县乐亭镇教军场小吕庄村人。曾担任乐亭县评剧团舞台美工、乐亭县工艺美术厂技术厂长。中国乡土艺术学会会员，唐山市民间文艺家协会会员，乐亭县民间文艺家协会副主席。唐山市首届一级工艺美术大师，河北省“非遗”项目乐亭泥人制作技艺传承人。</p>
              <h2>求学经历：</h2>
              <p style="text-indent:2em;">
                  乐亭泥塑是当地民间主要的传统手工制作技艺之一，泥人制作技艺始于明末清初，距今已有400多年的历史。清末民初，专业性泥人作坊纷纷涌现。20世纪30年代，乐亭当地戏曲艺术盛行，以戏曲人物为题材的手捏戏文人物便应运而生，教军场村的赵庆增（赵玉明祖父）技艺超群，蜚声县域内外。</p>
              <p style="text-indent:2em;">
                 赵玉明从小就在祖父赵庆增、父亲赵安的带动和影响下，对泥塑和绘画充满了浓厚的兴趣。闲暇时爱钻研民间工艺品，木雕、石雕、牛角雕、泥塑、玻璃钢制品等涉猎广泛，后专攻泥塑艺术品制作。赵玉明秉承祖父传统手工技艺，在原汁原味保留艺术特点的基础上，结合现代审美需求不断发展创新，研究开发出新产品新工艺，使乐亭泥塑制作技艺得到进一步发展。</p>
              <p style="text-indent:2em;">
                  赵玉明的泥塑作品构思巧妙、题材广泛、思路宽阔、生活气息浓郁，以形写神、神形兼具,做工精细、雅俗共赏。通过搓、揉、挑、捏、印、压、贴、镶、插、推、糊等技艺，塑造出一个个造型生动，色彩艳丽，装饰精美，栩栩如生的泥塑艺术形象，深受老百姓的喜爱。其作品多次在各级各类展会上展出、获奖，很多作品被单位和个人收藏。其中大型清代酿酒流程彩塑被孤竹国酒业收藏，《乐亭大鼓起源》被崔景哲艺术馆收藏。</p>
              <p style="text-indent:2em;">
                  2013年，乐亭泥人被唐山市列入市级“非遗”目录；2018年，乐亭泥人被河北省列入省级“非遗”目录。赵玉明当之无愧的被确定为“乐亭泥人”这一省级“非遗”项目的传承人。</p>
            </p>
              <h2>代表作品:</h2>
              <p>《泥塑人物》</p>
              <p>《进城》</p>
              <p>《老有所乐》</p>


          </ul>
            </td>


        </table>


    </div>


{% endblock main %}}



{% block js %}

{% endblock js %}

