{% extends "base.html" %}
{% load static %}


{% block title %}
    乐亭泥人
{% endblock title %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/works_detail/LaotingClayFigure.css' %}">
{% endblock css %}



{% block main %}
    <div class="main_bg">
       <!-- 在这个div里写页面的内容 -->
       <!-- 上半部分 -->
       <div class="cont1">
        <!-- 左:文字 -->
        <div class="txt">
            <div>111111111111111111111111111111111111111111111111111111111111111111111111111111</div>
        </div>
        <!-- 右：图片 -->
        <div class="img"></div>
       </div>
       <!-- 下半部分 -->
       <div></div>
       <!-- 末尾 -->
       <div></div>

    </div>
              

{% endblock main %}}



{% block js %}

{% endblock js %}

