{% extends "base.html" %}
{% load static %}


{% block title %}
    乐亭泥人
{% endblock title %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/works_detail/LaotingClayFigure.css' %}">
{% endblock css %}



{% block main %}
    <div class="main_bg">
        <!-- 在这个div里写页面的内容 -->
        <!-- 标题 -->
        <div class="title">
            <div class="subtitle">乐亭泥人</div>
        </div>
        <!-- 上半部分 -->
        <div class="cont1">
            <!-- 左: 图片 -->
            <div class="img fl">
                <img src="{% static '/img/craftsman_detail/LaotingClayFigure2.png' %}">
            </div>
            <!-- 右：文字 -->
            <div class="txt">
                <div class="grap">
                    2013年，乐亭泥人被唐山市列入市级“非遗”目录；2018年，乐亭泥人被河北省列入省级“非遗”目录。
                </div>
            </div>
        </div>
        <!-- 下半部分 -->
        <div class="cont2">
            <!-- 右：图片 -->
            <div class="img fr">
                <img src="{% static '/img/craftsman_detail/LaotingClayFigure1.png' %}">
            </div>
            <!-- 左：文字 -->
            <div class="txt">
                <div class="grap">
                    乐亭，是唐山地区乃至河北省有名的传统文化大县，先后获得“全国文化先进县”“全国文明县城”“中国民间文化艺术之乡”等30多项国家级荣誉，更有 “乐亭大鼓”“乐亭皮影戏”“乐亭泥人制作技艺”“刘美烧鸡制作技艺”“乐亭秸秆扎刻技艺”“乐亭方言”等一大批国家、省、市、县级非物质文化遗产项目熠熠生辉。
                </div>
            </div>
        </div>
        <!-- 末尾 -->
        <div></div>

    </div>
              

{% endblock main %}}



{% block js %}

{% endblock js %}

