{% extends "base.html" %}
{% load static %}


{% block title %}
    吴桥杂技
{% endblock title %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/works_detail/LaotingClayFigure.css' %}">
{% endblock css %}



{% block main %}
    <div  class="main_bg">
        <!-- 在这个div里写页面的内容 -->
        <!-- 标题 -->
        <div class="title">
             <div class="subtitle">吴桥杂技</div>
         </div>
         <!-- 上半部分 -->
         <div class="cont1">
             <!-- 左: 图片 -->
             <div class="img fl">
                 <img src="{% static '/img/works_detail/WuqiaoAcrobatics/WuqiaoAcrobatics1.jpg' %}">
             </div>
             <!-- 右：文字 -->
             <div class="txt">
                 <div class="grap">
                    2006年5月20日，河北省吴桥县申报的“吴桥杂技”被国务院公布列入第一批国家级非物质文化遗产名录，项目编号：Ⅵ—1。
                 </div>
                 <div class="grap">
                    吴桥杂技是流传在吴桥县域的民间表演艺术，起源于春秋战国，汉、唐达到兴盛，宋代时走向了民间。
                 </div>
             </div>
         </div>
         <!-- 下半部分 -->
         <div class="cont2">
             <!-- 右：图片 -->
             <div class="img fr">
                 <img src="{% static '/img/works_detail/WuqiaoAcrobatics/WuqiaoAcrobatics2.jpg' %}">
             </div>
             <!-- 左：文字 -->
             <div class="txt">
                 <div class="grap">
                    吴桥杂技有自己的行业神——吕祖吕洞宾，具备完整的行业文化体系，素有“十方杂技九籍吴桥”、“没有吴桥人不成杂技班”之说。
                    吴桥杂技展示人体技能技巧，门类齐全，节目阵容庞大，包括耍弄技艺、乔装仿生、动物驯化、硬气功、魔术等七大门类，共有1100多个表演节目。
                 </div>
             </div>
         </div>
         <!-- 末尾 -->
         <div class="cont3">
            <div class="grap">
                吴桥杂技来自于当地人们的生活体验，是从生产、生活中提炼出来的民俗艺术，在久远的传承过程中，形成了独具中国民间特色风格的节目内容和表现形式。
                吴桥杂技演出用的道具，大都来自于人们的日常生活生产，如锅、碗、盆、勺、桌、椅、几、凳，中国武术器械中的刀、枪、棍、棒等，都被吴桥杂技艺人用来做为道具，创造出具有特色的杂技节目。
                据统计，吴桥杂技传统节目主要有肢体技巧、道具技巧、乔装仿生、驯兽、马术、传统魔术、滑稽7大类486个单项，集中体现了尚武好义、百折不挠的吴桥杂技文化精神，为人们所传颂。
            </div>
            <div class="grap">
                在吴桥，不少人可以潇洒地骑着独轮车走街串巷，而在饭店里骑着单车送菜已成为与众不同的风景，小学生在放学回家的路上，不忘打几个空翻，练一练倒立行走的基本功夫。
                两只吃饭的碗、三个红豆，或者三个花蕾，甚至三个汽水瓶盖就是一出叫做《三仙归洞》的拿手戏。
                在吴桥，杂技是平常百姓家中不可缺少的娱乐形式。
             </div>
             <div class="grap">
                据统计，吴桥杂技传统节目主要有肢体技巧、道具技巧、乔装仿生、驯兽、马术、传统魔术、滑稽7大类486个单项，集中体现了尚武好义、百折不挠的吴桥杂技文化精神，为人们所传颂。
            </div>
         </div>

    </div>
              

{% endblock main %}}



{% block js %}

{% endblock js %}

